body{
	background-color: #a0a382;
}

h1{
	font-family: 'Rancho', cursive;
	font-size: 60px;
	color: #9ed5d3;
	text-shadow: 2px 2px #316664;
}

.container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#row1, #row2, #row3{
	display: flex;
}

.ticTacToeCell{
	width: 100px;
	height: 100px;
	border-radius: 10px;
	margin: 5px;
	background: #cdd2a9;
}